<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web 微信聊天室</title>
    <link rel="stylesheet" href="../public/bower_components/semantic/dist/semantic.min.css"/>
    <link rel="stylesheet" href="../public/stylesheets/style.css"/>
</head>
<body>
    <div class="chat-body mediate">
        <div class="chat-interface mediate">
            <div class="left-sidebar">
                <i class="user-icon icon user"></i>
                <i class="chat-icon icon comment label-tip"></i>
                <i class="communicate-icon icon street view"></i>
                <i class="collection-icon icon life ring"></i>
            </div>
            <div class="category-list-bar">
                <div class="category-list-header">
                    <form action="">
                        <div class="search-box">
                            <input type="text" placeholder="搜索"><i class="search-icon icon search horizontally flipped"></i>
                            <i class="add-icon icon plus"></i>
                        </div>

                    </form>

                </div>
                <div class="category-list-box">
                    <div class="list-headline active">
                        <div class="img label-tip">
                            <img src="" alt="图片"/>

                        </div>
                        <div class="desc">
                            <div class="line-name"><div class="title sing-line">这这标题标题这这标题标题</div> <div class="time">12:12</div></div>
                            <div class="message-tip sing-line">admin: xxxxxxxxxxxxxxxcxxxx</div>
                        </div>
                    </div>
                    <div class="list-headline">
                        <div class="img"><img src="" alt="图片"/></div>
                        <div class="desc">
                            <div class="line-name"><div class="title sing-line">这这标题标题这这标题标题</div> <div class="time">星期一</div></div>
                            <div class="message-tip sing-line">admin: xxxxxxxxxxxxxxxcxxxx</div>
                        </div>
                    </div>
                    <div class="list-headline">
                        <div class="img"><img src="" alt="图片"/></div>
                        <div class="desc">
                            <div class="line-name"><div class="title sing-line">这这标题标题这这标题标题</div> <div class="time">昨天</div></div>
                            <div class="message-tip sing-line">admin: xxxxxxxxxxxxxxxcxxxx</div>
                        </div>
                    </div>
                    <div class="list-headline">
                        <div class="img"><img src="" alt="图片"/></div>
                        <div class="desc">
                            <div class="line-name"><div class="title sing-line">这这标题标题这这标题标题</div> <div class="time">17/8/5</div></div>
                            <div class="message-tip sing-line">admin: xxxxxxxxxxxxxxxcxxxx</div>
                        </div>
                    </div>
                    <div class="list-headline">
                        <div class="img"><img src="" alt="图片"/></div>
                        <div class="desc">
                            <div class="line-name"><div class="title sing-line">这这标题标题这这标题标题</div> <div class="time">12:12</div></div>
                            <div class="message-tip sing-line">admin: xxxxxxxxxxxxxxxcxxxx</div>
                        </div>
                    </div>
                    <div class="list-headline">
                        <div class="img"><img src="" alt="图片"/></div>
                        <div class="desc">
                            <div class="line-name"><div class="title sing-line">这这标题标题这这标题标题</div> <div class="time">12:12</div></div>
                            <div class="message-tip sing-line">admin: xxxxxxxxxxxxxxxcxxxx</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-box">
                <div class="chat-box-header">

                </div>
                <div class="chat-box-room">

                </div>
                <div class="chat-box-editor">

                </div>
            </div>
        </div>

    </div>
</body>
</html>